* {
    box-sizing: border-box;
    margin: 0;
}

div {
    font-family: 'Open Sans';
    padding: 20px;
}

h2 {
    font-size: 175%;
}

.adoption {
    padding-left: 65px;
    padding-bottom: 10px;
}

.main,
.profile {
    padding-left: 30px;
    font-family: 'Oswald', sans-serif;
}

.header {
    background-color: #004175;
    font-family: 'Open Sans';
    font-weight: 900 !important;
    font-size: 18px;
    padding: 30px;
    padding-left: 65px;
    border-bottom: 4px solid #89deef;
    color: white;
}

.pup {
    width: 395px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 57px;
    margin-right: 150px;
    padding: 0px;
}

ul.qualities li {
    font-family: 'Open Sans';
    display: inline;
    list-style-type: none;
    font-size: 85%;
    border-radius: 10px;
    background-color: #89deef;
    padding: 4px;
    margin: 4px;
    margin-left: 0px;
}

div.profile h1 {
    font-size: 115%;
}

.qualities {
    display: flex;
    flex-wrap: wrap;
    width: 395px;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.profile {
    margin: 4px;
    padding: 0px;
    margin-bottom: 60px;
}

#special-lady {
    width: 372px;
}

.adoption h2 {
    font-size: 200%;
}

.adoption p {
    font-size: 115%;
}
