* {
    box-sizing: border-box;
    margin: 0;
}

div {
    font-family: 'Open Sans';
    padding: 20px;
}

h2 {
    font-size: 175%;
}

.adoption {
    padding-left: 65px;
}

.main {
    padding-left: 30px;
    font-family: 'Oswald', sans-serif;
}

.header {
    background-color: #004175;
    font-family: 'Open Sans';
    font-weight: 900 !important;
    font-size: 18px;
    padding: 30px;
    padding-left: 65px;
    border-bottom: 5px solid #89deef;
    color: white;
}

.pup {
    width: 300px;
}
