body {
    margin: 0;
}

.header {
    background-color: #004175;
    font-family: 'Open Sans';
    font-weight: 1000 !important;
    font-size: 20px;
    padding: 25px;
    padding-left: 70px;
    border-bottom: 5px solid #89deef;
    color: white;
}

#pup {
    width: 300px;
}
